<side-drawer></side-drawer>
<StackLayout tkMainContent class="homebg">
	<StackLayout class="progressbar-bg">
		<GridLayout columns="auto,auto,2*,auto,auto" rows="auto,auto,auto,auto">
			<RL:Ripple rippleColor="#fff" (tap)="goback()" col="0" class="progressbar-back">
				<StackLayout>
					<Image src="res://backarrow" stretch="none"></Image>
				</StackLayout>
			</RL:Ripple>
			<StackLayout col="1" class="white-LogoIcon white-LogoMar">
				<Image src="res://whitelogoicon" stretch="none"></Image>
			</StackLayout>			
			<StackLayout col="2" class="top-progressbar">
				<Label text="" class="top-progressbar-red progressbar-ani1-1"></Label>
			</StackLayout>
			<StackLayout col="3" class="progressbar-no">
				<Label text="10%"></Label>
			</StackLayout>
			<RL:Ripple rippleColor="#a4a4a4" col="4" class="home-topright">
				<StackLayout class="nav-ripple">
					<Image src="res://emptyspace" stretch="none"></Image>
				</StackLayout>
			</RL:Ripple>
		</GridLayout>
		<StackLayout class="progressbar-text">
			<Label text="Schedule a {{requestconsult.ServiceName}}"></Label>
		</StackLayout>
	</StackLayout>
	<ScrollView>
		<StackLayout height="100%" class="servicetype-bg">
			<StackLayout height="85%">
				<StackLayout class="memMargin">
					<Label text="Physician Consultation" class="textHeading"></Label>
				</StackLayout>
				<StackLayout class="eme-call-Mar" orientation="horizontal" horizontalAlignment="left">
					<Label text="Please" textWrap="true"></Label>
					<Label text=" Call 911 " textWrap="true" class="eme-callred"></Label>
					<Label text="immediately." textWrap="true"></Label>
				</StackLayout>
				<StackLayout width="85%">
					<GridLayout columns="auto,auto" rows="auto,auto">
						<RL:Ripple col="0" rippleColor="#fff" class="backbtn1" (tap)="goback()">
							<Label text="GO BACK "></Label>
						</RL:Ripple>
						<RL:Ripple col="1" rippleColor="#fff" class="continuebtn2" (tap)="callNumber()">
							<Label text="OKAY, GOT IT!"></Label>
						</RL:Ripple>
					</GridLayout>
				</StackLayout>
			</StackLayout>
			<StackLayout height="15%" class="home-bottombg">
				<StackLayout class="home-bottomtext" width="80%">
					<Label text="If it's not a medical emergency, please click “GO BACK” and Continue." textWrap="true"></Label>
				</StackLayout>
			</StackLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>