<StackLayout class="login-bg">
	<ScrollView height="100%">
		<StackLayout>
			<StackLayout height="93%">
				<Image src="res://logo" stretch="none" class="logo"></Image>
				<Label class="forgot-text" text="Please check your mail!"></Label>
				<StackLayout class="forgot-confirmText">
					<Label class="reganimation5" textWrap="true" text="An e-mail will be sent to the address you provide.The e-mail will contain temporary login information for your account"></Label>
					<Label class="reganimation6" textWrap="true" text="If you don't have a valid e-mail address in the 24/7 Call-A-Doc system, please contact"></Label>
					<StackLayout orientation="horizontal" horizontalAlignment="left" class="reganimation6">
						<Label class="forgot-Mar" textWrap="true" text="Member Service at"></Label>
						<Label class="forgot-number" textWrap="true" text=" 1-844-362-2447"></Label>
					</StackLayout>
				</StackLayout>
				<StackLayout>
					<RL:Ripple rippleColor="#fff">
						<Button text="RETURN TO LOGIN" class="forgotRetBtn" [nsRouterLink]="['/login']" clearHistory="true"></Button>
					</RL:Ripple>
				</StackLayout>
			</StackLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>