<StackLayout class="login-bg">
	<ScrollView height="100%">
		<StackLayout>
			<StackLayout height="93%">
				<Image src="res://logo" stretch="none" class="logo"></Image>
				<Label class="forgot-text" text="Forgot your password?"></Label>
				<StackLayout #formControls class="forgot-controls">
					<StackLayout class="useranimation">
						<TextField hint="Username" #txtUsername="ngModel" [(ngModel)]="username" required alphabets></TextField>
						<StackLayout width="85%" *ngIf="(formSubmitted && txtUsername.invalid) || (txtUsername.errors && (txtUsername.dirty || txtUsername.touched)  && !txtUsername.pristine)">
							<Label width="100%" class="required-label" *ngIf="txtUsername.errors.required" text="Username is required"></Label>
							<Label width="100%" class="required-label" *ngIf="txtUsername.errors.alphabets" text="Numeric and Special charecters are not allowed"></Label>
						</StackLayout>
						<StackLayout width="85%" *ngIf="(txtUsername.valid)">
							<Label width="100%" class="required-label" *ngIf="username.trim()==''" text="Username is required"></Label>
						</StackLayout>
					</StackLayout>
					<StackLayout class="passwordanimation">
						<TextField hint="Email Address" #txtEmail="ngModel" [(ngModel)]="email" required email returnKeyType="done" (returnPress)="submit(txtUsername.valid,txtEmail.valid)"></TextField>
						<StackLayout width="85%" *ngIf="(formSubmitted && txtEmail.invalid) || (txtEmail.errors && (txtEmail.dirty || txtEmail.touched)  && !txtEmail.pristine)">
							<Label width="100%" class="required-label" *ngIf="txtEmail.errors.required" text="Email is required"></Label>
							<Label width="100%" class="required-label" *ngIf="txtEmail.errors.email" text="Email must be valid"></Label>
						</StackLayout>
					</StackLayout>
				</StackLayout>
				<RL:Ripple rippleColor="#fff" width="85%" horizontalAlignment="center">
					<Button width="100%" text="SUBMIT" class="forgotBtn" (tap)="submit(txtUsername.valid,txtEmail.valid)"></Button>
				</RL:Ripple>
			</StackLayout>
			<RL:Ripple rippleColor="#a5a5a5" class="signup-mar" [nsRouterLink]="['/login']" clearHistory="true">
				<StackLayout height="8%" orientation="horizontal" horizontalAlignment="center">
					<Image src="res://bluebackarrow" stretch="none" class="bluebackarrow"></Image>
					<Label class="signup-text" text="Return to login"></Label>
				</StackLayout>
			</RL:Ripple>
		</StackLayout>
	</ScrollView>
</StackLayout>
<AbsoluteLayout visibility="{{errorMsg ? 'visible' : 'collapsed'}}">
	<StackLayout class="errorbg">
		<Label text="We could not find a member with that Login Name and Email."></Label>
	</StackLayout>
</AbsoluteLayout>