<StackLayout class="changepassword-controls ">
	<ScrollView>
		<StackLayout>
			<StackLayout>
				<Image src="res://logo" stretch="none" class="changepassowrd-logo"></Image>
				<Label class="forgot-text" text="Change Password"></Label>
				<Label class="changepassword-txt reganimation2" text="Your current passowrd has expired. Please change the password below (Password should have at least 6 characters, and least one digit.)"
					textWrap="true"></Label>
				<StackLayout width="95%">
					<StackLayout class="reganimation3 changepassword-ConMar">
						<Label class="smallText" text="Member ID"></Label>
						<TextField [(ngModel)]="memberid" hint="120-246-8334" editable="false"></TextField>
					</StackLayout>
					<StackLayout class="reganimation4 changepassword-ConMar">
						<Label class="smallText" text="Login Name"></Label>
						<TextField [(ngModel)]="username" hint="t1202468334"></TextField>
					</StackLayout>
					<StackLayout class="reganimation5 changepassword-ConMar">
						<TextField hint="New Password" #newPwd="ngModel" minlength="6" (loaded)="loadedField($event)" [(ngModel)]="password" required
							returnKeyType="next"></TextField>
						<StackLayout *ngIf="formSubmitted && newPwd.invalid ||  newPwd.errors && (newPwd.dirty || newPwd.touched)  && !newPwd.pristine">
							<Label class="required-label" *ngIf="newPwd.errors.required" text="Password is required"></Label>
							<Label class="required-label" *ngIf="newPwd.errors.minlength" text="Password must have atleast 6 characters, and atleast 1 digit"></Label>
						</StackLayout>
						<StackLayout *ngIf="newPwd.valid">
							<Label class="required-label" *ngIf="!isAlphaNum() || validPwd" text="Password must have atleast 6 characters, and atleast 1 digit"></Label>
						</StackLayout>
					</StackLayout>
					<StackLayout class="reganimation5 changepassword-ConMar" width="90%">
						<TextField hint="Password Confirm" width="100%" [(ngModel)]="cnfmpassword" (textChange)="pwdChecker($event)" (loaded)="loadedField($event)"
							(returnPress)="changePwd(newPwd.valid)" returnKeyType="done"></TextField>
						<StackLayout>
							<Label class="required-label" *ngIf="matchFlag" text="New and Confirm password do not match"></Label>
						</StackLayout>
					</StackLayout>
				</StackLayout>
				<StackLayout>
					<RL:Ripple rippleColor="#fff" (tap)="changePwd(newPwd.valid)" width="85%" horizontalAlignment="center">
						<Label text="CONTINUE" width="100%" class="changepasswordBtn"></Label>
					</RL:Ripple>
				</StackLayout>
			</StackLayout>
			<RL:Ripple rippleColor="#a5a5a5" (tap)="logOut()" class="changepassword-mar">
				<StackLayout orientation="horizontal" horizontalAlignment="center">
					<Image src="res://bluebackarrow" stretch="none" class="bluebackarrow"></Image>
					<Label class="signup-text" text="Return to login"></Label>
				</StackLayout>
			</RL:Ripple>
		</StackLayout>
	</ScrollView>
</StackLayout>